<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand">{{#link-to "index"}}Todo app{{/link-to}}</span>
    		</div>
    		<ul class="nav navbar-nav">
    			<li>{{#link-to "newtodo"}}Add todo{{/link-to}}</li>
    			<li>{{#link-to "list"}}List todos{{/link-to}}</li>
    		</ul>
    	</div>
    </nav>
    

    <fieldset>
      
      {{outlet}}
      
    </fieldset>
