<h1>{{model.todo.text}}</h1>
<h1>Comments:</h1>
<div id="comments" class="row">
    {{#each model.todo.comments as |comment|}}
        <div class="col-sm-5">
            <div class="panel panel-default">
                <div class="panel-body">
                {{comment.text}}
                </div>
            </div>
        </div>
    {{/each}}
</div>
 {{outlet}}
